#header .search .btn{
    color: #d01313f2;
    background-color: #f7bd1a85;
}
.dropdown-menu ,.dropdown-menu>li>a{
    border-radius: 40px;
}
#header-menu .menu-list ,#footer {
    background-color:#8e8f31b5 ;
}
#header-menu .menu-list li a{
    color: #190303f2;
}
#admin-menu .menu-list li a{
    color: #0e0d0dcf;
}
 #admin-menu,#admin-content .add-new,#admin-header .logout,#admin-footer{
    background-color: #e997009e;
    color: #0f1010ad;
}
#admin-content .detail-box{
    background-color: deepskyblue;
    color: brown;
}